* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.778), rgba(34, 2, 24, 0.907)), url('./img/fondoLogin2.jpg');
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.contenido{
    padding-top: 30px;
}

/* .nav {
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(47, 165, 244);
} */

/* .listaNav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} */

nav{
    position: fixed;
}
nav div div div{
    /* background-color: rgba(220, 13, 224, 0.481); */
    background-color: rgba(254, 3, 191, 0.157);
    padding: 10px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 1px white;
}

nav div div .nav-link {
    margin: 0px 20px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

nav div div .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta esto según el espacio que desees entre el texto y la línea */
    width: 0%;
    height: 3px; /* Ajusta el grosor de la línea aquí */
    background-color: rgb(193, 79, 216); /* Color de la línea */
    transition: width 0.5s ease-in-out;
}

nav div div .nav-link:hover::before {
    width: 100%;
}


main{
    color: white;
    font-size: 1.2rem;
    /* text-align: center; */
    padding: 10px 0px; 
}
/* HOME */
h2{
    font-size: 3.5rem;
    margin: 10px 0px
}

#nombreContenido{
    color: rgb(234, 20, 227);
}

#frontend{
    font-size: 1.8rem;
}

.parrafo{
    margin: 15px 0px;
    color: rgb(217, 217, 217);
}


/* HABILIDADES */

.habilidad{
    text-align: center;
    max-width: 700px;
    margin: auto;
}
.textStack{
    display: none;
}
.stack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stack div {
    margin: 10px 10px;
    border: 3px solid rgba(158, 3, 135, 0.783);
    border-radius: 4px;
    height: 100px;
    transition: height 0.5s ease, transform 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;

}

.stack div img {
    width: 95px;
    padding: 15px;
}

.stack .html:hover .imghtml{
    background-color: rgb(249, 171, 81);
}
.stack .html:hover{
    height: 130px;
    background-color: rgb(249, 171, 81);
    transform: scale(1.2);
    border: 3px solid rgb(182, 80, 2);
    box-shadow: 0 0px 10px rgb(241, 194, 92);
}


.stack .css:hover .imgcss{
    background-color: rgb(152, 179, 246);
}
.stack .css:hover{
    height: 130px;
    background-color: rgb(152, 179, 246);
    transform: scale(1.2);
    border: 3px solid rgb(9, 0, 179);
    box-shadow: 0 0px 10px rgb(176, 198, 254);
}


.stack .js:hover .imgjs{
    background-color: rgb(145, 147, 16);
}
.stack .js:hover{
    height: 130px;
    background-color: rgb(145, 147, 16);
    transform: scale(1.2);
    border: 3px solid rgb(255, 247, 30);
    box-shadow: 0 0px 10px rgb(239, 255, 60);
}


.stack .react:hover .imgreact{
    background-color: rgb(6, 49, 73);
}
.stack .react:hover{
    height: 130px;
    background-color: rgb(6, 49, 73);
    transform: scale(1.2);
    border: 3px solid rgb(70, 190, 255);
    box-shadow: 0 0px 10px rgb(70, 190, 255);
}


.stack .node:hover .imgnode{
    background-color: rgb(43, 112, 24);
}
.stack .node:hover{
    height: 130px;
    background-color: rgb(43, 112, 24);
    transform: scale(1.2);
    border: 3px solid rgb(84, 255, 46);
    box-shadow: 0 0px 10px rgb(65, 253, 23);
}


.stack .mongo:hover .imgmongo{
    background-color: rgb(25, 70, 12);
}
.stack .mongo:hover{
    height: 130px;
    background-color: rgb(25, 70, 12);
    transform: scale(1.2);
    border: 3px solid rgb(84, 255, 46);
    box-shadow: 0 0px 10px rgb(65, 253, 23);
}


.stack .php:hover .imgphp{
    background-color: rgb(0, 71, 125);
}
.stack .php:hover{
    height: 130px;
    background-color: rgb(0, 71, 125);
    transform: scale(1.2);
    border: 3px solid rgb(33, 121, 243);
    box-shadow: 0 0px 10px rgb(43, 107, 255);
}


.stack .laravel:hover .imglaravel{
    background-color: rgb(217, 153, 153);
}
.stack .laravel:hover{
    height: 130px;
    background-color: rgb(217, 153, 153);
    transform: scale(1.2);
    border: 3px solid rgb(166, 20, 20);
    box-shadow: 0 0px 10px rgb(145, 21, 21);
}


.stack .mysql:hover .imgmysql{
    background-color: rgb(0, 71, 125);
}
.stack .mysql:hover{
    height: 130px;
    background-color: rgb(0, 71, 125);
    transform: scale(1.2);
    border: 3px solid rgb(33, 121, 243);
    box-shadow: 0 0px 10px rgb(43, 107, 255);
}


.stack .photoshop:hover .imgphotoshop{
    background-color: rgb(0, 71, 125);
}
.stack .photoshop:hover{
    height: 130px;
    background-color: rgb(0, 71, 125);
    transform: scale(1.2);
    border: 3px solid rgb(33, 121, 243);
    box-shadow: 0 0px 10px rgb(43, 107, 255);
}


.stack .ilustrator:hover .imgilustrator{
    background-color: rgb(242, 146, 67);
}
.stack .ilustrator:hover{
    height: 130px;
    background-color: rgb(242, 146, 67);
    transform: scale(1.2);
    border: 3px solid rgb(255, 189, 135);
    box-shadow: 0 0px 10px rgb(246, 136, 47);
}


.stack .wordpress:hover .imgwordpress{
    background-color: rgb(2, 29, 49);
}
.stack .wordpress:hover{
    height: 130px;
    background-color: rgb(2, 29, 49);
    transform: scale(1.2);
    border: 3px solid rgb(33, 121, 243);
    box-shadow: 0 0px 10px rgb(43, 107, 255);
}


.stack .bootstrap:hover .imgbootstrap{
    background-color: rgb(39, 5, 39);
}
.stack .bootstrap:hover{
    height: 130px;
    background-color: rgb(39, 5, 39);
    transform: scale(1.2);
    border: 3px solid rgb(158, 0, 126);
    box-shadow: 0 0px 10px rgb(255, 21, 239);
}


.stack .tailwind:hover .imgtailwind{
    background-color: rgb(16, 17, 106);
}
.stack .tailwind:hover{
    height: 130px;
    background-color: rgb(16, 17, 106);
    transform: scale(1.2);
    border: 3px solid rgb(15, 121, 251);
    box-shadow: 0 0px 10px rgb(14, 116, 240);
}


.stack .ux:hover .imgux{
    background-color: rgb(78, 79, 141);
}
.stack .ux:hover{
    height: 130px;
    background-color: rgb(78, 79, 141);
    transform: scale(1.2);
    border: 3px solid rgb(15, 121, 251);
    box-shadow: 0 0px 10px rgb(14, 116, 240);
}




.stack div:hover .textStack {
    display: block;
    background-color: rgba(41, 14, 34, 0.623);
}

.certificaciones div{
    text-align: left;
    margin-top: 25px;
}










/* SOBRE MI */
.linea{
    border: 1px solid rgb(232, 37, 239);
    box-shadow: 0 0px 9px rgb(226, 82, 231);
    width: 50%;
    margin: auto;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sobreMi{
    text-align: left;
}




.proyecto{
    width: 300px;
    background-color: rgb(24, 2, 29);
    border: solid 2px rgb(116, 11, 116);
    border-radius: 15px;
    transition: box-shadow 0.5s, transform 0.5s;
}
.proyecto:hover{
    box-shadow: 0 0 15px 5px violet;
    transform: scale(1.1);
}










/* Conctacos */
.contactos{
    margin-top: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.contactos div{
    /* margin: 15px;
    display: flex;
    justify-content: center; */
}
/* .contactos img{
    margin-right:7px;
} */
.contactos p a{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 767px) {

    .contenido{
        padding: 15px;
    }

    body{
        width: 100%;
    }

    nav div div div{
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px white;
    }

    .contactos{
        /* margin-top: 1rem; */
        flex-direction: column;
        /* display: flex;
        justify-content: center; */
    }
}

@keyframes jump {
    0%, 100% {
      transform: translateY(0); /* Posición inicial y final */
    }
    50% {
      transform: translateY(-30px); /* Mover la imagen hacia arriba */
    }
  }
  
  .jump {
    animation: jump 2s ease-in-out infinite; /* Aplicar la animación */
    width: 100%;
}