* {
    margin: 0;
    padding: 0;
    background-color: #050216;
}

body {
    margin: auto;
    width: 700px;
}

/* HEADER */
header {
    
}

.nav {
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(47, 165, 244);
}

#portfolio {
    color: rgb(47, 165, 244);
}

.listaNav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}

.listaNav ul li{
    margin: 0px 20px;
    cursor: pointer;
    transition: border 0.5s ease, padding 0.3s ease, box-shadow 0.5s ease;
}

.listaNav ul li:hover{
    color: rgb(47, 165, 244);
    font-weight: bold;
    padding: 8px;
    border: 1px solid rgb(47, 165, 244);
    box-shadow: 0 0px 10px rgb(47, 165, 244);
    border-radius: 10px;
}

main{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0px; 
}
/* HOME */
h2{
    font-size: 3.5rem;
    margin: 10px 0px
}

#nombreContenido{
    color: rgb(47, 165, 244);
}

#frontend{
    font-size: 1.8rem;
}

.parrafo{
    margin: 15px 0px;
    color: rgb(217, 217, 217);
}


/* HABILIDADES */

.habilidad{
    text-align: center;
}
.textStack{
    display: none;
}
.stack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stack div {
    margin: 10px 10px;
    border: 3px solid rgba(2, 103, 234, 0.783);
    border-radius: 4px;
    height: 100px;
}

.stack div img {
    width: 70px;
    padding: 15px;
}

.stack .html:hover .imghtml{
    background-color: rgb(249, 171, 81);
}
.stack .html:hover{
    height: 130px;
    background-color: rgb(249, 171, 81);
    transform: scale(1.2);
    border: 3px solid rgb(182, 80, 2);
    box-shadow: 0 0px 10px rgb(241, 194, 92);
}


.stack .css:hover .imgcss{
    background-color: rgb(152, 179, 246);
}
.stack .css:hover{
    height: 130px;
    background-color: rgb(152, 179, 246);
    transform: scale(1.2);
    border: 3px solid rgb(9, 0, 179);
    box-shadow: 0 0px 10px rgb(176, 198, 254);
}



.stack div:hover .textStack {
    display: block;
}












/* SOBRE MI */
.linea{
    border: 1px solid rgb(32, 183, 220);
    box-shadow: 0 0px 9px rgb(50, 202, 241);
    width: 50%;
    margin: auto;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 700px) {
    .nav {
        flex-direction: column;
    }

    .listaNav ul {
        margin-top: 10px;
    }

    .listaNav ul li {
        margin: 0px 10px;
    }

    .contenido{
        padding: 15px;
    }

    body{
        width: 100%;
    }
}